################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ecommerce.services.user/.vs
/ecommerce.services.user/ecommerce.services.user/bin/Debug/net6.0
/ecommerce.services.user/ecommerce.services.user/obj
